* {
  box-sizing: border-box;
}

.images {
  border: double #ffcc29;
}

.brand-title {
  font-size: 30px;
}

.short-detail {
  font-size: 20px;
}

.color-available {
  font-size: 25px;
}

.available {
  font-size: 25px;
}

.btn {
  font-size: 25px;
}

.Material {
  font-size: 25px;
}

.Material-text {
  font-size: 20px;
}

.Qty {
  font-size: 25px;
}

.details {
  margin-left: 8%;
  border: double #ffcc29;
}

.lightcyan {
  width: 50px;
  height: 50px;
  background-color: lightcyan;
  border-radius: 50%;
  border: 1px solid black;
}

.blue {
  width: 50px;
  height: 50px;
  background-color: blue;
  border-radius: 50%;
  border: 1px solid black;
}

.yellow {
  width: 50px;
  height: 50px;
  background-color: yellow;
  border-radius: 50%;
  border: 1px solid black;
}

.green {
  width: 50px;
  height: 50px;
  background-color: lightgreen;
  border-radius: 50%;
  border: 1px solid black;
}

.order1 {
  border-radius: 100px;
  width: 230px;
}

.order2 {
  border-radius: 100px;
  margin-left: 50px;
  width: 230px;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  * {
    box-sizing: border-box;
  }

  .images {
    border: double #ffcc29;
  }

  .brand-title {
    font-size: 20px;
  }

  .short-detail {
    font-size: 13px;
  }

  .color-available {
    font-size: 20px;
  }

  .available {
    font-size: 20px;
  }

  .btn {
    font-size: 15px;
  }

  .Material {
    font-size: 20px;
  }

  .Material-text {
    font-size: 13px;
  }

  .Qty {
    font-size: 20px;
  }

  .details {
    margin-left: 8%;
    border: double #ffcc29;
  }

  .lightcyan {
    width: 25px;
    height: 25px;
    background-color: lightcyan;
    border-radius: 50%;
    border: 1px solid black;
  }

  .blue {
    width: 25px;
    height: 25px;
    background-color: blue;
    border-radius: 50%;
    border: 1px solid black;
  }

  .yellow {
    width: 25px;
    height: 25px;
    background-color: yellow;
    border-radius: 50%;
    border: 1px solid black;
  }
  .green {
    width: 25px;
    height: 25px;
    background-color: lightgreen;
    border-radius: 50%;
    border: 1px solid black;
  }

  .order1 {
    border-radius: 50px;
    width: 130px;
    margin-left: 5px;
  }

  .order2 {
    border-radius: 50px;
    margin-right: 5px;
    width: 130px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  * {
    box-sizing: border-box;
  }

  .images {
    border: double #ffcc29;
  }

  .brand-title {
    font-size: 15px;
  }

  .short-detail {
    font-size: 10px;
  }

  .color-available {
    font-size: 15px;
  }

  .available {
    font-size: 15px;
  }

  .btn {
    font-size: 10px;
    margin: 2px;
  }

  .Material {
    font-size: 15px;
  }

  .Material-text {
    font-size: 10px;
  }

  .Qty {
    font-size: 15px;
  }

  .details {
    margin-top: 10px;
    border: double #ffcc29;
    margin-left: 0px;
  }

  .lightcyan {
    width: 15px;
    height: 15px;
    background-color: lightcyan;
    border-radius: 50%;
    border: 1px solid black;
  }

  .blue {
    width: 15px;
    height: 15px;
    background-color: blue;
    border-radius: 50%;
    border: 1px solid black;
  }

  .yellow {
    width: 15px;
    height: 15px;
    background-color: yellow;
    border-radius: 50%;
    border: 1px solid black;
  }
  .green {
    width: 15px;
    height: 15px;
    background-color: lightgreen;
    border-radius: 50%;
    border: 1px solid black;
  }

  .order1 {
    border-radius: 25px;
    width: 92px;
    margin-left: 1px;
  }

  .order2 {
    border-radius: 25px;
    margin-right: 1px;
    width: 83px;
  }
}
