.size-btn {
  width: 90%;
}

.color-picker {
  display:inline-block;
  margin:2px;
  width:25px;
  height:25px;
  border:1px solid;
  border-radius: 50%;
  box-sizing: border-box;
  transition: all 500ms;
}

.color-selected {
  border: 2px solid;
  border-radius: 2px;
  transition: all 500ms;
}

#quantity  > * {
  margin-right: 15px;
}


@media screen and (max-width: 768px) {
  .carousel-item, .carousel-img {
    max-height: 75vh;
  }
}